global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend http_front
   bind *:8080
   stats uri /haproxy?stats
   default_backend http_back

backend http_back
   balance roundrobin
   server uis1 nginx-proxy-test.deno.dev:443 check-ssl ssl verify none

# listen appname 0.0.0.0:8080
#     mode http
#     stats enable
#     stats uri /haproxy?stats
#     stats realm Strictly\ Private
#     stats auth t:123
#     balance roundrobin
#     option httpclose
#     option forwardfor
#     server uis1 10.0.0.1:80 check
